* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 16px 0;
    background-color: rgb(253, 237, 237);
    color:red;
    font-size: 24px;
}

header h1,
header h2 {
    font-family: "Protest Guerrilla", sans-serif;
    font-style: normal;
}

body, input, textarea {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}


p {
    color: #555;
    line-height: 1.6;
}

body {
    display: flex;
    flex-direction: column;
}


header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: red;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    padding: 0 20 px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brands-list img {
    height: 24px;
    margin-left: 8px;
}

.social_links img {
    height: 40px;
    margin-left: 20px;
}

.social_links li {
    display: inline;
    margin: 8px;
}

.social_links li a {
    text-decoration: none;
}

.brands-list li {
    display: inline;
}

section .container {
    align-items: flex-start;
}

section {
    color:rgb(75, 75, 75);
}

form input,
form text area,
form button {
    display: block;
    width: 280px;
    margin-bottom: 4px;
    padding: 8px;
}

form button {
    background-color:rgb(241, 86, 86);
    color: antiquewhite;
    border: none;
    cursor: pointer;
}

textarea {
    resize: none;
    height: 100px;
    width: 280px;
}

form button:hover {
    background-color:rgb(255, 45, 45);
}

input:focus, textarea:focus {
    outline-color: rgba(255, 0, 0, 0.575);
}

html, body {
    height: 100%;
    margin: 0;
}

footer {
    margin-top: auto;
    background-color: rgb(253, 237, 237);
    color: rgb(75, 75, 75);
    padding: 16px 0;
    text-align: 80px;
    width: 100%;
}

.service-card {
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px 20px;
}

.sobre {
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px 20px;
}


.atuação {
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px 20px;
}

.mapa {
    text-align: center;
    margin-top: 20px;
    border: 2px solid #ccc;
    padding: 10px;
    margin-left: 160px;
}


section h3 {
    font-size: 20px;
}